@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --FISD-dark-blue: #184366;
  --FISD-light-blue: #5ab3c4;
  --FISD-yellow: #e8b20f;
  --FISD-light-green: #0e987d;
  --FISD-light-orange: #e95b37;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
  background-color: #ffffff;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  min-height: 40vh;
  margin-top: 1.5rem;
  font-family: "Roboto", sans-serif !important;
}

.containerApp {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

/*
=======================================
==>        Top Information
=======================================
*/

.container__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-bottom: 2.5rem;
  padding: 2.5rem 1.5rem;
}

.top__info-isComplete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0;
  padding: 0.5rem;
}

.top__title,
.isComplete {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem;
}

.top__title_middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem;
}
.isComplete {
  position: relative;
  width: 15%;
}

.isComplete__label {
  position: absolute;
  z-index: 100;
  width: 12.5rem;
  height: 3.5rem;
  top: 0;
  right: 0;
  background-color: var(--FISD-light-orange);
  color: #e6e7e8;
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.top__title h1 {
  font-size: 2.6rem;
  color: var(--FISD-dark-blue);
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif !important;
}

.top__title p,
.top__title em {
  color: var(--FISD-light-blue) !important;
  font-size: 1.3rem !important;
}

.top__title em {
  color: var(--FISD-light-orange) !important;
  color: #e95b37 !important;
}

.top__img {
  height: 40rem;
  overflow: hidden;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 0.5rem;
}
.top__img img {
  width: 100%;
  object-fit: none;
  object-position: right;
}
.top__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.top__info-extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.7rem;
}

.info-extra__icon,
.info-extra__title {
  padding: 0.5rem 0.25rem;
}

.top__info-extra div p {
  color: var(--FISD-light-blue);
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-family: "Roboto", sans-serif !important;
}

.info-extra__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-extra__icon em {
  font-size: 4rem;
  color: var(--FISD-light-blue);
}

.top__info-extra div span {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--FISD-dark-blue);
}

.percentage {
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: var(--FISD-light-blue) !important;
  border-radius: 0.25rem;
}

.top__description {
  width: 90%;
}

.top__description p {
  padding: 1.5rem 1rem;
  color: var(--FISD-dark-blue);
  font-size: 2.2rem !important;
  letter-spacing: 0.1rem;
  text-align: left;
}

/*
=======================================
==>        UPDATE Section
=======================================
*/

.container__middle {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  padding: 2.5rem 5rem;
  background-color: #184366;
  background-image: linear-gradient(135deg, #184366 0%, #5ab3c4 100%);
  overflow: hidden;
}

.middle-title h1 {
  color: #f9f9f9 !important;
}
.middle-title p {
  color: var(--FISD-yellow) !important;
  color: #e8b20f !important;
}
.middle-title em {
  color: var(--FISD-light-blue) !important;
  color: #78d3c1 !important;
}

.middle__news {
  width: 31.5rem;
  height: 38.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 15px 10px -15px #111;
  background-color: #ffffff;
  margin-bottom: 1rem;
  margin: 1rem 0.9rem;
}

.news__top {
  width: 100%;
}

.middle__news .news__top img {
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 5px solid var(--FISD-light-orange);
}

.news__bottom {
  width: 100%;
  padding: 1rem 0.5rem;
}

.bottom__title h2 {
  color: var(--FISD-dark-blue);
  letter-spacing: 1px;
  padding: 1rem 0;
  font-size: 1.8rem !important;
  font-family: "Roboto", sans-serif !important;
}

.bottom__description p {
  color: var(--FISD-dark-blue);
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif !important;
}

/*
=======================================
==>     Project Image gallery  
=======================================
*/

.container-bottom {
  width: 100%;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 2.5rem 1.5rem;
}

.showMobile {
  display: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
  list-style: none;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 580px) {
  li {
    height: 80vh;
  }
}

/*
=======================================
==>           Mobile 
=======================================
*/

@media (max-aspect-ratio: 1/1) and (max-width: 580px) {
  .containerApp {
    width: 100%;
  }

  .container__middle {
    align-items: center;
    justify-content: center;
  }

  .top__title {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;
  }

  .top__title h1 {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }

  .top__title p {
    width: 100%;
    color: var(--FISD-light-blue);
    font-size: 0.9rem;
  }

  .top__title i {
    margin-bottom: 0.5rem;
  }

  .percentage {
    width: 70%;
  }

  .top__info {
    margin: 3rem 0;
    padding: 0;
  }

  .top__info-extra {
    width: 45%;
    margin: 0.5rem 0;
  }

  .top__img {
    height: auto;
    overflow: hidden;
  }
  .top__img img {
    width: 100%;
    object-fit: contain;
  }

  .middle__news {
    width: 95%;
    margin: 1.5rem 0;
  }

  .hideMobile {
    display: none;
  }

  .showMobile {
    display: flex;
  }

  .swiper-container {
    width: 100%;
    height: 200px;
  }
}